*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.main-container{
    display: grid;
    gap: 1.5rem;
  
}



.container1{
    height: 200px;
    /* width: 100%; */
    background-color: green;
    border: 2px solid red;
}
.container2{
    height: 200px;
    /* width: 100%; */
    background-color:skyblue;
    border: 2px solid red;
}
.container3{
    height: 200px;
    /* width: 100%; */
    background-color:lightpink;
    border: 2px solid red;
}
.container4{
    height: 200px;
    /* width: 100%; */
    background-color: aqua;
    border: 2px solid red;
}

.container6{
    
    background-color: white;
    border: 2px solid red;
}
@media screen and (min-width:50rem){
    .main-container{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(4,1fr);
    }
    .grid-col-span2{
        grid-column: span 2;
    }
    .container6{
        grid-column-start:4 ;
        grid-row-start: 1;
        grid-row-end: span 2;
        
    }

    
}